[submodule "mongo-cl-driver"]
	path = mongo-cl-driver
	url = git@github.com:archimag/mongo-cl-driver.git
[submodule "puri-unicode"]
	path = puri-unicode
	url = git@github.com:archimag/puri-unicode.git
[submodule "cl-gallery"]
	path = cl-gallery
	url = git@github.com:necto/cl-gallery.git
[submodule "restas"]
	path = restas
	url = git@github.com:necto/restas.git
